<!DOCTYPE html>
<html>
  <head>
    
  </head>
  
  <body>
    <h1>Today</h1>
    <% d = DateTime.new(Rational(-5,24)) %>
    <%= d.strftime('%A, %B %d, %Y') %>
    <p>The date is </p>
  </body>
</html>